__pycache__/
*.py[cod]
*$py.class
.trunk/
node_modules/
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl
terraform.tfstate.backup
crash.log
*.tfplan

# Provider plugins
**/providers/
**/registry.terraform.io/
