apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: redis
  namespace: voting-app
  labels:
    app: redis
    tier: backend
spec:
  serviceName: redis
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
        tier: backend
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 999 # redis user
        fsGroup: 999
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: redis
          image: redis:alpine
          ports:
            - containerPort: 6379
              name: redis
              protocol: TCP
          command:
            - redis-server
            - --appendonly
            - "yes"
            - --save
            - 60 1
          resources:
            requests:
              memory: 128Mi
              cpu: 100m
            limits:
              memory: 256Mi
              cpu: 200m
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: false
            runAsNonRoot: true
            runAsUser: 999
            capabilities:
              drop:
                - ALL
          volumeMounts:
            - name: redis-data
              mountPath: /data
            - name: healthcheck
              mountPath: /healthchecks
              readOnly: true
          livenessProbe:
            exec:
              command: [redis-cli, ping]
            initialDelaySeconds: 30
            periodSeconds: 30
            failureThreshold: 5
          readinessProbe:
            exec:
              command:
                - sh
                - /healthchecks/redis.sh
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
      volumes:
        - name: healthcheck
          configMap:
            name: redis-healthcheck
            
  volumeClaimTemplates:
    - metadata:
        name: redis-data
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: 2Gi
