# Override all naming
fullnameOverride: redis
nameOverride: redis

# Disable replicas (you only need master)
replica:
  replicaCount: 0

auth:
  enabled: false

master:
  persistence:
    enabled: true
    size: 2Gi
  
  resources:
    requests:
      memory: 128Mi
      cpu: 100m
    limits:
      memory: 256Mi
      cpu: 200m
  
  podSecurityContext:
    enabled: true
    fsGroup: 999
    runAsUser: 999
    runAsNonRoot: true
  
  containerSecurityContext:
    enabled: true
    runAsUser: 999
    runAsNonRoot: true
    allowPrivilegeEscalation: false
    capabilities:
      drop:
      - ALL